.container {
    background-color: black;
    height: 75px;
    margin: 0;
}

.lesson  {
    background-color: lemonchiffon;
  }

.title {
    color: crimson;
}

.image {
    border-radius: 50px;
}

.section-two {
    color: orange;
    background-color: blue;
    width: 300px;
    height: 125px;
}

.section-four {
    color: white;
}
  
#email {
    color: darkslateblue;
    background-color: white;
}
  
#github {
    color: darkslateblue;
    background-color: darkorange;
}
  
#portfolio {
      color: white;
      background-color: darkslateblue;
}

#section-one {
    color: yellow;
    background-color: purple;
    width: 300px;
    height: 125px;
}

#section-six {
    color: yellow;
}